
    <mat-grid-list [appLoader]="Loading" [cols]="layoutBreakPoint" rowHeight="100%" gutterSize="1rem" (window:resize)="onResize($event)">
        <mat-grid-tile *ngIf='layoutBreakPoint !== 1'>
          <div class="row w-100 h-100 align-self-center justify-content-center " >
          <mat-selection-list #catagory class="menu-list border-right" (selectionChange)="onCatagorySelection($event)" >
            <mat-list-option *ngFor="let catagory of catagories" [value]="catagory.id">
              {{catagory.catagory}}
            </mat-list-option>
          </mat-selection-list>
        </div>    
        </mat-grid-tile>
        <mat-grid-tile [colspan]="layoutBreakPoint !== 1 ? 4 : 1" >
          <div class="row w-100 h-100  overflow-auto">
            <div *ngFor='let product of productList; let productId=index' class="col-md-4 col-sm-12" key="i"> 
              <mat-card class="product-card align-self-center">
                <mat-card-header>
                 
                  <mat-card-title>{{product.product_name}}</mat-card-title>
              
                </mat-card-header>
                <img mat-card-image  class="W-75" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content *ngIf="product.catagory === catagoryList.CAKE">

                   <p class='font-weight-bold'> 
                     
                    <label id="cake-quantity">Pick your Quantity</label>
                    <mat-radio-group
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group"
                      (change)="onQuantityChange($event, productId)"
                     
                     >
                      <mat-radio-button  [checked]="quantity == product.selectedProductQuantity" class="example-radio-button" *ngFor="let quantity of product.quantities; let i =index"  [value]="quantity">
                        {{quantity}} Kg
                      </mat-radio-button>
                    </mat-radio-group>
                  </p>
                 
                    <p>
                    <mat-form-field class='cup-cake-box' > <input min="1"  (input)="cupCakeBoxChange($event, productId)" type="number"   matInput [value]="product.selectedProductCount" />  </mat-form-field>  

                    <span class='d-inline-block ml-3 font-weight-bold'>Cake </span>
                  </p>
                 
                  <p class='my-2 font-weight-bold'>
                    <span>
                      Price :                    
                    </span>
                    <span>
                      &#8377;  {{product.selectedProductPrice}}                 
                    </span>
                  </p>

                </mat-card-content>

                <mat-card-content *ngIf="product.catagory === catagoryList.CUPCAKE">

                  <div class='my-3 font-weight-bold'  *ngFor="let quantity of product.quantities; let quantityIndex =index" > 
                    
                   <p id="cake-quantity">Pick your Quantity</p>
                      {{ quantity }} Pieces *  <mat-form-field class='cup-cake-box' > <input min="1"  (input)="cupCakeBoxChange($event, productId)" type="number"   matInput [value]="product.selectedProductCount" />  </mat-form-field> Box
                  </div>
                 <p class='my-3 font-weight-bold'>
                   <span>
                     Price :                    
                   </span>
                   <span>
                     &#8377;  {{product.selectedProductPrice}}                  
                   </span>
                 </p>

               </mat-card-content>

                <mat-card-actions>
                  <button (click)="toAddCart(product)" class='full-width' mat-flat-button color="primary"> Add to Cart</button>
                
                </mat-card-actions>
              </mat-card>
            </div>
      <div *ngIf="productList.length === 0" >

        No product Available 

      </div>
     
    
        </div>
        </mat-grid-tile>
      </mat-grid-list>
